/* Coolors Exported Palette - https://coolors.co/997f56-dacfa9-4d3925-673a2d-392823-95483d */

// /* CSS HEX */
// --chamoisee: #997F56ff;
// --dutch-white: #DACFA9ff;
// --caf-noir: #4D3925ff;
// --bole: #673A2Dff;
// --bistre: #392823ff;
// --chestnut: #95483Dff;

// /* CSS HSL */
// --chamoisee: hsla(37, 28%, 47%, 1);
// --dutch-white: hsla(47, 40%, 76%, 1);
// --caf-noir: hsla(30, 35%, 22%, 1);
// --bole: hsla(13, 39%, 29%, 1);
// --bistre: hsla(14, 24%, 18%, 1);
// --chestnut: hsla(7, 42%, 41%, 1);

/* SCSS HEX */
$chamoisee: #997F56ff;
$dutch-white: #DACFA9ff;
$caf-noir: #4D3925ff;
$bole: #673A2Dff;
$bistre: #392823ff;
$chestnut: #95483Dff;

/* SCSS HSL */
$chamoisee: hsla(37, 28%, 47%, 1);
$dutch-white: hsla(47, 40%, 76%, 1);
$caf-noir: hsla(30, 35%, 22%, 1);
$bole: hsla(13, 39%, 29%, 1);
$bistre: hsla(14, 24%, 18%, 1);
$chestnut: hsla(7, 42%, 41%, 1);

/* SCSS RGB */
$chamoisee: rgba(153, 127, 86, 1);
$dutch-white: rgba(218, 207, 169, 1);
$caf-noir: rgba(77, 57, 37, 1);
$bole: rgba(103, 58, 45, 1);
$bistre: rgba(57, 40, 35, 1);
$chestnut: rgba(149, 72, 61, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #997F56ff, #DACFA9ff, #4D3925ff, #673A2Dff, #392823ff, #95483Dff);
$gradient-right: linear-gradient(90deg, #997F56ff, #DACFA9ff, #4D3925ff, #673A2Dff, #392823ff, #95483Dff);
$gradient-bottom: linear-gradient(180deg, #997F56ff, #DACFA9ff, #4D3925ff, #673A2Dff, #392823ff, #95483Dff);
$gradient-left: linear-gradient(270deg, #997F56ff, #DACFA9ff, #4D3925ff, #673A2Dff, #392823ff, #95483Dff);
$gradient-top-right: linear-gradient(45deg, #997F56ff, #DACFA9ff, #4D3925ff, #673A2Dff, #392823ff, #95483Dff);
$gradient-bottom-right: linear-gradient(135deg, #997F56ff, #DACFA9ff, #4D3925ff, #673A2Dff, #392823ff, #95483Dff);
$gradient-top-left: linear-gradient(225deg, #997F56ff, #DACFA9ff, #4D3925ff, #673A2Dff, #392823ff, #95483Dff);
$gradient-bottom-left: linear-gradient(315deg, #997F56ff, #DACFA9ff, #4D3925ff, #673A2Dff, #392823ff, #95483Dff);
$gradient-radial: radial-gradient(#997F56ff, #DACFA9ff, #4D3925ff, #673A2Dff, #392823ff, #95483Dff);